@using System.Web.Optimization;
<head>
     <meta charset="utf-8" />
     <title>Fitness</title>
     <meta name="description" content="" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
   
     <link rel="icon" type="image/png" href="images/favicon.jpg" />

     <!-- CSS Files -->
     @Styles.Render("~/css")
</head>
<body>

     @Html.Partial("_Navbar")
     @RenderBody()
     @Html.Partial("_Footer")
     @Scripts.Render("~/js")

</body>
